@import 'mixins';

body {
	background: #fff;
}

div {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

p {
	font-size: 1em;

	-webkit-transition: opacity .4s ease;
	   -moz-transition: opacity .4s ease;
	     -o-transition: opacity .4s ease;
	        transition: opacity .4s ease;
}

em {
	font-style: normal;

	padding: 0;

	background: #4bc6df;
	box-shadow: -3px -3px 0 #4bc6df, 3px 3px 0 #4bc6df, 3px -3px 0 #4bc6df, -3px 3px 0 #4bc6df,;
}

.row-title {
	font-family: 'Guardian Egyptian Web', 'Egyptian Display', Georgia, serif;
	font-size: 28px;
	font-weight: 700;
	line-height: 24px;

	margin: 20px 0 10px 0;
}

.row-content {
	background: #f6f6f6;
	padding: 20px;
}

.row-content p {
	font-family: 'Guardian Egyptian Web', 'Egyptian Display', Georgia, serif;
	font-size: 16px;
	line-height: 26px;

	margin: 0 0 24px 0;
}

.row-annotation {
	padding: 0 10px 0 70px;

	margin: 0px 0 32px 0;


}

.row-annotation h1 {
	font-family: 'Guardian Text Sans Web', 'Agate Sans', Helvetica, sans-serif;
	font-size: 18px;
	line-height: 20px;

	color: #333;
}

.row-annotation p {
	font-family: 'Guardian Text Sans Web', 'Agate Sans', Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

@media ( min-width: 620px ) {
	.row-content,
	.row-annotation {
		display: inline-block;

		vertical-align: top;
	}



	.row-title,
	.row-content {
		width: 50%;
		padding-right: 10px;
	}

	.row-annotation {
		width: 30%;
		padding: 0 0 0 30px;

		background-color: transparent;
	}

	.row-annotation p {
		margin: 0;
	}

	.row-annotation h1,
	.row-annotation p {
		color: #333;
	}
}
