// Define your mixins and variables here, then add the following line to
// your other .scss files:
//
//     @import "base";
//
// (Yes, "base" and not "_base" - it is a SASS convention which means
// 'this file is a partial and should not be compiled by itself'

@mixin border-box {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

@mixin clearfix {
	&:after {
		display: table;
		clear: both;

		content: '';
	}
}

@mixin transition($args) {
	-webkit-transition: $args;
	   -moz-transition: $args;
	    -ms-transition: $args;
	     -o-transition: $args;
	        transition: $args;
}

@mixin no-select {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

@mixin no-drag {
	-webkit-user-drag: none;
	   -moz-user-drag: none;
	    -ms-user-drag: none;
	        user-drag: none;
}
