<div class='gia'>

	{{ #content:i }}

		<div class='row'>
			{{ #if section }}
				<div class='row-title'>
					{{ section }}
				</div>
			{{ /if }}
			<div class='row-content'>
				<p>
					{{{ text }}}
				</p>
			</div>
			{{ #if annotation }}
				<div class='row-annotation'>
					<p>
						{{{ annotation }}}
					</p>
				</div>
			{{ /if }}
		</div>

	{{ /content }}

</div>

<script>

	component.exports = {
		data: {
			log: function () {
				console.log( arguments );
			}
		}
	};

</script>